
.HeroCard-Container-Title{
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 50px 0;
}



.cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    width: 80%; 
    padding: 20px;
    justify-content: space-around;
    margin: 20px auto;
}




.card {
    flex-basis: calc(25% - 20px);
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;  
    color: #fff;
    display: flex;
    flex: wrap;
    width: 18rem;
    height: 25rem;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    box-shadow: 0 10px 30px 5px rgba(0,0,0,0.2);
    color: black;
}



.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    
}

.Product-image {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 100%;
    position: absolute; 
    object-fit: cover;
}

.card-content {
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    bottom: -65px;
    padding: 15px;
    transition: bottom 0.60s ease-in-out;
}

.price {
    color: grey;
    font-size: 22px;
}

.cart-btn {
    border: none;
    outline: 0;
    padding: 12px;
    color: whitesmoke;
    background-color: #000;
    font-size: 500;
    text-align: center;
    cursor: pointer;
    width: 100%;
    margin: 5px 0;
}

.cart-btn:hover {
    opacity: 0.7;
    background-color: #d32f2f;
}

.offer{
    color: red;
    font-weight: 500;
}


.strickout-price{
    font-size: medium;
}

.price span{
    padding: 0 10px 0 0;
}


.card:hover .card-content p{
    max-height: 150px;
}


.card-content p{
    overflow: hidden;
    min-height: 0;
    margin-bottom: 10px;
    transition: max-height 0.5s ease-in-out;
    font-weight: 380;
    font-size: 15px;
    color: rgba(0,0,0,0.70);
    line-height: 20px;
    transition: max-height 0.5s ease-in-out;
}

.card-content h4, p{
    margin: 0;
    padding: 0;
}

.card:hover .card-content{
    bottom: 0;
 }

