

.footer-container{
    margin-top: 50px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    /* background-color: #d1e7ef; */
    box-shadow: 0 10px 30px 5px rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0.70);
    color: #fff;
}

.footer-container div h5{
    font-size: 1000;
}

.footer-container a{
    text-decoration: none;
    color: azure;
    font-size: small;
}